#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.table-colors tr:nth-child(even) {
  background-color: #333;
}

.table-colors tr:nth-child(odd) {
  background-color: #555;
}